# Data Science Tools and Ecosystem

### In this notebook, I will summarize the collection of tools used by Data Scientists.

<b> Objectives: </b>
<ul>
    <li>List popular languages used in Data Science</li>
    <li>List Commonly used Data Science Libraries</li>
    <li>Do some simple arithmetic in Python</li>

### Some of the popular languages that Data Scientists use are:

<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    <li>Scala</li>
 
<ol>

### Some of the commonly used libraries used by Data Scientists include:

<ol> 
    <li>Pytorch</li>
    <li>Tensorflow</li>
    <li>ggplot2</li>
    <li>matplotlib</li>
<ol>

<table>
<tr>
    <th>Data Science Tools</th> 
    </tr>  
<tr>    
    <td>Google Colab</td> 
    </tr> 
<tr>
    <td> MS Visual Studio Code</td>
    </tr>
<tr>
    <td>Jupyter Notebooks</td>
    </tr>
<table>

### Below are a few examples of evaluating arithmetic expressions in Python:

In [4]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

print("Minutes: 200")

x = 200/60

print("Hours: " + str(x))

Minutes: 200
Hours: 3.3333333333333335

## Author:
<blockquote> Mitchell C </blockquote>